/**
 * @name ModernDiscord16
 * @author @girlglock
 * @version 1.0.4
 * @description cs16.css theme (rosepine)
 * @source https://github.com/girlglock/ModernDiscord16/
 * @website https://girlglock.com/
**/

@import url("https://raw.githubusercontent.com/girlglock/ModernDiscord16/main/src/subcss/ModernDiscord16.fixes.theme.css");
@import url("https://raw.githubusercontent.com/girlglock/ModernDiscord16/main/src/subcss/ModernDiscord16.main.theme.css");

.custom-cs16-colors {
  /* color palette */
  --custom-bg: #191724;
  --custom-secondary-bg: #1f1d2e;
  --custom-accent: #f6c177;
  --custom-secondary-accent: #eb6f92;
  --border-light: #908caa;
  --border-dark: #403d52;
  /* font */
  --font-primary: "Adwaita" !important;
}